<form asp-action="Create" method="post">
    Name:<br>
    <input type="text" name="name">
    <br>
    E-mail:<br>
    <input type="text" name="mail">
    <br>
    Company:<br>
    <input type="text" name="company">
    <br>
    Complain:<br>
    <textarea rows=10 cols=50 name="complain">
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
</form> 