.main-bar
{
margin: 0 0 1em 0;
padding: 0;
left:0;
background-color:black;
position: fixed;
top:0;
width:100%;
float:left;
}


.main-bar > a
{
    color: white;
    margin:0;
    padding:0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#container
{
    margin-top: 50px
}

table, th, td {
    border: 1px solid rgb(59, 58, 58);

}
table{
    border-collapse: collapse;
}
tr:hover 
{
    background-color: #f5f5f5;
}

th {
    background-color: black;
    color: white;
}